<div class="text-left">
    <div class="container">
        <!form>
            <div id="BasicInformation">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Name</label>
                        <input type="text" name="name" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Tax No</label>
                        <input type="text" name="taxNo" class="form-control" aria-label="Default"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Website</label>
                        <input type="text" name="website" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Transactional partner type</label>
                        @* <select class="form-select" name="transactionalPartnerTypeId" asp-items="@ViewBag.TransactionalPartnerTypes"></select> *@
                        <select class="form-select" name="transactionalPartnerTypeId"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label label-default">Currency type</label>
                            @* <select class="form-select" name="currencyTypeId" asp-items="@ViewBag.CurrencyTypes"></select> *@
                            <select class="form-select" name="currencyTypeId"></select>
                        </div>
                    </div>
                </div>
                <h3>
                    Contact person information
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Contact person name</label>
                        <input type="text" name="contactPersonName" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Tel No</label>
                        <input type="text" name="telNo" class="form-control" aria-label="Default"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Email</label>
                        <input type="text" name="email" class="form-control" aria-label="Default"/>
                    </div>
                </div>
                <h3>
                    Address:
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">City</label>
                        <input type="text" name="city" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">District</label>
                        <input type="text" name="district" class="form-control" aria-label="Default"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Street</label>
                        <input type="text" name="street" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Ward</label>
                        <input type="text" name="ward" class="form-control" aria-label="Default"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label label-default">Zip code</label>
                        <input type="text" name="zipCode" class="form-control" aria-label="Default"/>
                    </div>
                    <div class="col-md-6">
                        <label class="label label-default">Country</label>
                        @* <select class="form-select" name="countryId" asp-items="@ViewBag.Countries"></select> *@
                        <select class="form-select" name="countryId"></select>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <label class="label label-default">Location type</label>
                        @* <select class="form-select" name="locationTypeId" asp-items="@ViewBag.LocationTypes"></select> *@
                        <select class="form-select" name="locationTypeId"></select>
                    </div>
                </div>
            </div>
            <button id="save" type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </!form>
    </div>
</div>
<script src="~/Common/http.js"></script>
<script src="~/MaterialManagement/UpdateTransactionalPartner.js"></script>
<script>
function save(ele) {
    let formData = getTransactionalPartnerForm(ele)
    httpPost(formData, `${materialManagementApi}/transactional-partners`)
        .done(function(data) {
            location.href = "/MaterialManagement/TransactionalPartners"
        })
        .fail(function(data) {
            alert(`${data.errors[0].code}: ${data.errors[0].message}`)
        })
}

$(document).ready(function () {
    $(document).on("click", "#save", function(e) {
        e.preventDefault()
        save($(this))
    })
    getTransactionalPartnerTypes()
    getCountries()
    getCurrencyTypes()
    getLocationTypes()
})
</script>