<div class="text-left" style="margin-bottom: 50px;">
    <h1><b>Transactional Partners: </b></h1>
</div>

<div class="text-left" style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a type="button" asp-controller="MaterialManagement" asp-action="CreateTransactionalPartner" class="btn btn-primary btn-lg btn-block">Create</a>
                <table id="transactionalPartners" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tax No</th>
                        <th>Website</th>
                        <th>Type</th>
                        <th>Currency</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Common/http.js"></script>
<script>
function getTransactionalPartners() {
    httpGet(`${materialManagementApi}/transactional-partners`)
        .done(function(data) {
            let result = data.result
            let tbodyTransactionalPartners = $("#transactionalPartners").find("tbody")
            
            for(var i = 0; i < result.length; i++) {
                let trBodyData = '<tr>'
                trBodyData += `<td>${result[i].name}</td>
                                <td>${result[i].taxNo}</td>
                                <td>${result[i].website}</td>
                                <td>${result[i].type}</td>
                                <td>${result[i].currency}</td>
                                <td>
                                    <a type='button' href='TransactionalPartners/${result[i].id}' class="btn btn-primary btn-lg btn-block">Edit</a>
                                    <input hidden name='id' value='${result[i].id}'/>
                                    <button type='button' id='deleteTransactionalPartner' class='btn btn-primary btn-lg btn-block'>Delete</button>
                                </td>`
                trBodyData += '</tr>'
                
                tbodyTransactionalPartners.append(trBodyData)
            }
        })
        .fail(function(data) {
            console.log(data)
        })
}
function deleteTransactionalPartner(ele) {
    let td = ele.closest("td")
    let transactionalPartnerId = td.find("input[name='id']").val()
    
    httpDelete(`${materialManagementApi}/transactional-partners/${transactionalPartnerId}`)
        .done(function(data) {
            location.href = "/MaterialManagement/TransactionalPartners"
        })
        .fail(function(data) {
            console.log(data)
        })
}
$(document).ready(function () {
    $(document).on("click", '#deleteTransactionalPartner', function () {
        deleteTransactionalPartner($(this))
    })
    getTransactionalPartners()
})
</script>